page-register {
    text-align: center;
    color: map-get($colors, primary);
    .header {
        height: 35%;
        text-align: center;
        color: map-get($colors, primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ion-list {
        button {
            padding: 20px;
            text-align: center;
        }
    }
}